@import "tailwindcss";

html{
	scroll-behavior: smooth;
}
:root{
	--header: rgb(2, 9, 17);
	--main-home: linear-gradient(to right , rgb(7, 6, 7) , rgb(1, 1, 39));
	--home-sec: rgb(6, 6, 21);
	--home-sub-sec: hsl(212, 95%, 7%);
}

/*header section */	
header{
	background-color: var(--header);
}
.nav{
	background: linear-gradient(90deg,rgb(23, 226, 253),rgb(140, 0, 255));
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.bo{
	background: linear-gradient(0deg, rgb(23, 226, 253),rgb(140, 0, 255));
}


/*home section */
.home1{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(4, 1, 20, 0.8) 100%), url('/src/assets/home.jpeg');
	background-size: cover;
}

.home1::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 8, 0.7);
	filter: blur(70px);
}
.home1:hover{
	cursor: pointer;
}
.msg{
	top: 3em;
	position:absolute;
}


/*main-sec*/


.about1, .skill1 , .projects1, .contact1{
  background: rgba(7, 34, 43, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.813);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

/*about section*/
.logo1{
	background-image: url(/logo.jpeg);
	background-position: center;
	background-size: cover;
	border-radius: 80%;
	box-shadow: 0px 0px 10px 3px rgb(156, 156, 252);
}

.about-info{
	border: 1px rgb(100, 99, 99);
	border-style:ridge;
	backdrop-filter: blur(10px);
	color: azure;
	padding: 10px;
	flex-wrap: wrap;
}